<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: default-head"></head>

<body>
<header th:insert="fragments/header :: header"></header>
<section th:insert="fragments/slider :: slider"></section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"> <!--leftSideBar-->
                <section th:insert="fragments/container :: leftSideBar"></section>
            </div>

            <div class="col-sm-9 padding-right">

                <div th:insert="fragments/category :: category"></div>

                <!--features_items-->
                <div th:insert="fragments/container :: featuredItems"></div>
                <!--features_items-->

                <!--recommended_items-->
                <div class="recommended_items" th:insert="fragments/container :: recommendedItems"></div>
                <!--/recommended_items-->
            </div>
        </div>
    </div>
</section>

<footer th:insert="fragments/footer :: footer"></footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>