<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: default-head"></head>

<body>
<header th:insert="fragments/admin/header :: header"></header>

<section>

</section>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>